<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Registration datetime:</strong>
    <%= team.registration_date %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= team.group %>
  </p>

</div>
