<h1>New registrations creator</h1>

<%= render "form", registrations_creator: @registrations_creator %>

<br>

<div>
  <%= link_to "Back to registrations creators", registrations_creators_path %>
</div>
