<div id="<%= dom_id registration %>">
  <p>
    <strong>Name:</strong>
    <%= registration.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= registration.date %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= registration.group %>
  </p>

</div>
