<h1>Editing matches creator</h1>

<%= render "form", matches_creator: @matches_creator %>

<br>

<div>
  <%= link_to "Show this matches creator", @matches_creator %> |
  <%= link_to "Back to matches creators", matches_creators_path %>
</div>
